<!-- Карусель фоток -->
<section class="carousel">
  <div class="container p-5">
    <div class="slider-images  ">
      <div><img class="img-fluid" src="../../../assets/images/slider1.png"></div>
    </div>
  </div>
</section>


<!-- Частые ответы -->
<section>
  <div class="container pb-5">
    <h2 class="fw-bold text-center mb-4">Ответы на часто задаваемые вопросы</h2>

    <div class="accordion mx-auto my-accordion  " id="accordion">
      <div class="accordion-item border-0">
        <h2 class="accordion-header p-2">
          <button class="accordion-button rounded-2 text-white" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse1"
                  aria-expanded="true" aria-controls="collapse1">
            Собираете ли вы подарочные боксы?
          </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordion">
          <div class="accordion-body">
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
          </div>
        </div>
      </div>
      <div class="accordion-item border-0">
        <h2 class="accordion-header  p-2">
          <button class="accordion-button rounded-2 text-white" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            Сколько у вас разновидностей чая?
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordion">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
            collapse plugin adds the appropriate classes that we use to style each element. These classes
            control the overall appearance, as well as the showing and hiding via CSS transitions. You can
            modify any of this with custom CSS or overriding our default variables. It's also worth noting
            that
            just about any HTML can go within the <code>.accordion-body</code>, though the transition does
            limit
            overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item border-0">
        <h2 class="accordion-header p-2">
          <button class="accordion-button rounded-2 text-white" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            В какой срок осуществляется доставка?
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordion">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
            collapse plugin adds the appropriate classes that we use to style each element. These classes
            control the overall appearance, as well as the showing and hiding via CSS transitions. You can
            modify any of this with custom CSS or overriding our default variables. It's also worth noting
            that
            just about any HTML can go within the <code>.accordion-body</code>, though the transition does
            limit
            overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item border-0">
        <h2 class="accordion-header p-2">
          <button class="accordion-button rounded-2 text-white" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            У вас обновляется ассортимент?
          </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordion">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
            collapse plugin adds the appropriate classes that we use to style each element. These classes
            control the overall appearance, as well as the showing and hiding via CSS transitions. You can
            modify any of this with custom CSS or overriding our default variables. It's also worth noting
            that
            just about any HTML can go within the <code>.accordion-body</code>, though the transition does
            limit
            overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item border-0">
        <h2 class="accordion-header p-2">
          <button class="accordion-button rounded-2 text-white" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            Какого объема у вас пачки чая?
          </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordion">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
            collapse plugin adds the appropriate classes that we use to style each element. These classes
            control the overall appearance, as well as the showing and hiding via CSS transitions. You can
            modify any of this with custom CSS or overriding our default variables. It's also worth noting
            that
            just about any HTML can go within the <code>.accordion-body</code>, though the transition does
            limit
            overflow.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" #modal tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content  text-center p-5">
      <h3>Посмотрите наши чайные коллекции</h3>
      <button routerLink="/products" type="button" class="btn btn-outline-success mt-3 p-2 ps-4 pe-4">Смотреть</button>
      <button type="button" class="popup-btn-close btn-close" (click)="hidePopup()"></button>
    </div>
  </div>
</div>
