
<section class="my-accordion mx-auto">
  <div class="container pb-5">
    <h2 class="fw-bold text-center mb-4">Ответы на часто задаваемые вопросы</h2>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel id="ngb-panel-0" title="Собираете ли вы подарочные боксы?">
        <ng-template ngbPanelContent>
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Сколько у вас разновидностей чая?">
        <ng-template ngbPanelContent>
          Это шаблонный текст, и на него не надо обращать внимания. Этот текст размещен временно, и находится на стадии
          разработки
        </ng-template>
      </ngb-panel>

      <ngb-panel title="В какой срок осуществляется доставка?">
        <ng-template ngbPanelContent>
          Это шаблонный текст, и на него не надо обращать внимания. Этот текст размещен временно, и находится на стадии
          разработки
        </ng-template>
      </ngb-panel>

      <ngb-panel title="У вас обновляется ассортимент?">
        <ng-template ngbPanelContent>
          Это шаблонный текст, и на него не надо обращать внимания. Этот текст размещен временно, и находится на стадии
          разработки
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Какого объема у вас пачки чая?">
        <ng-template ngbPanelContent>
          Это шаблонный текст, и на него не надо обращать внимания. Этот текст размещен временно, и находится на стадии
          разработки
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

  </div>
</section>
